@model RaptorStreet.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataPed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataPed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaFiscals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaFiscals.IdNota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enderecos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enderecos.IdEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagamentos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagamentos.IdPag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clientes.IdCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPedido">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
