@model IEnumerable<RaptorStreet.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dataPed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFiscals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagamentos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dataPed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFiscals.IdNota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enderecos.IdEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pagamentos.IdPag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.IdCliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPedido">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPedido">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPedido">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
