@model RaptorStreet.Models.Produto

@{
	ViewData["Title"] = "Details";
}
<div class="container text-white">

	<h1>Details</h1>

	<div>
		<h4>Produto</h4>
		<hr />
		<dl class="row text-white">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.NomeProduto)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.NomeProduto)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.PrecoProduto)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.PrecoProduto)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Qtd)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Qtd)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Descricao)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Descricao)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Tipo)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Tipo)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Desconto)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Desconto)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Tamanho)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Tamanho)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.MarcaProdutos)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.MarcaProdutos.NomeMarca)
			</dd>
		</dl>
	</div>
	<div>
		<a class="btn btn-dark" asp-action="Index">Voltar</a>
		<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.IdProduto">Editar</a>
	</div>
</div>
