@model IEnumerable<RaptorStreet.Models.Login>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adms.IdAdm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLogin">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLogin">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLogin">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
