@model RaptorStreet.Models.ClienteFav

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClienteFav</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ativado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ativado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clientes.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produtos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produtos.IdProduto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdClienteFav">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
