@model IEnumerable<RaptorStreet.Models.ClienteEndereco>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fk_IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Enderecos.IdEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fk_IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.IdCliente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
